*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html,body{
    width: 100%;
    height : 100%;
}
nav{
    height: 10%;
    width: 100;
    display : flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}
.hero span{
    color : grey;
}
.hero{
    height : 20%;
    width: 100%;
    justify-content: center;
    display : flex;
    align-items: center;
    gap : 50px;
}

.hero button{
    
  position: fixed;         
  top: 20px;                
  right: 20px;             
  padding: 10px 18px;
  background-color: black; 
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  z-index: 1000;           
}
.create h1{
    position: absolute;
    height: 75%;
    width: 100%;
    overflow: hidden;
   display : flex;
   color:lawngreen;
   font-size: 500px;
   transform: translate();
   justify-content: center;
}
.hello p{
    position : absolute;
    top : 55%;
    left : 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform : translate(-50%, -50%);
    font-size: 70px;
    font-style: bold;
    text-align: center;
}
.box{
    padding-top : 20px;
    height: 100%;
    width: calc();
}
.box .circle{
    height: 40px;
    width: 40px;
    padding-top : 30px;
    background-color: black;
    border-radius: 50px;
    color : white;
    display : flex;
    align-items: end;
    justify-content: center;
    position: relative;
}
.circle h1{
    bottom : -5%;
    font-size : 30px;
    color : white;
    scale : 1.6;
}
.side{
    position: fixed;
    width: 5%;
    height: 80%;
    align-items: center;
    justify-content: center;
    z-index:1;
    display : flex;
    flex-direction: column;
}
.side p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 120px;
    width: 5%;
    gap : 2px;
    display: flex;
    rotate : -90deg;
    align-items: center;
    justify-content: center;
}
